Import Modules

In [3]:
# Import Modules
from bs4 import BeautifulSoup
import requests
import pandas as pd

Request page source from URL

In [4]:
url = 'https://www.imdb.com/chart/top/'

page = requests.get(url)
page

In [ ]:
page.content

In [ ]:
soup = BeautifulSoup(page.content, 'html.parser')
print(soup.prettify())

In [ ]:
# Scrap Movie Names
scrapped_movies = soup.find_all('td', class_ = 'titleColumn')
scrapped_movies

In [ ]:
#Parse Movie Names
movies = []
for movie in scrapped_movies:
  movie = movie.get_text().strip()
  movie = movie.replace('\n','') 
  movie = movie.replace('      ','') 
  movies.append(movie)
movies

In [ ]:
# Get Rating for movies
scrape_ratings = soup.find_all('td',class_='ratingColumn imdbRating')
scrape_ratings

In [ ]:
# Parse Ratings
ratings = []
for rating in scrape_ratings:
  rating = rating.get_text().replace('\n','')
  ratings.append(rating)
ratings

In [27]:
# Store the scraped data
data = pd.DataFrame()
data['Movie Names'] = movies
data['Ratings'] = ratings
data.head(20)

                                          Movie Names Ratings
0                    1.The Shawshank Redemption(1994)     9.2
1                               2.The Godfather(1972)     9.2
2                             3.The Dark Knight(2008)     9.0
3                       4.The Godfather Part II(1974)     9.0
4                                5.12 Angry Men(1957)     8.9
5                            6.Schindler's List(1993)     8.9
6   7.The Lord of the Rings: The Return of the Kin...     8.9
7                                8.Pulp Fiction(1994)     8.9
8   9.The Lord of the Rings: The Fellowship of the...     8.8
9             10.The Good, the Bad and the Ugly(1966)     8.8
10                              11.Forrest Gump(1994)     8.8
11                                12.Fight Club(1999)     8.8
12                                 13.Inception(2010)     8.7
13     14.The Lord of the Rings: The Two Towers(2002)     8.7
14  15.Star Wars: Episode V - The Empire Strikes B...     8.7
15                                16.The Matrix(1999)     8.7
16                                17.Goodfellas(1990)     8.7
17           18.One Flew Over the Cuckoo's Nest(1975)     8.6
18                                     19.Se7en(1995)     8.6
19                             20.Seven Samurai(1954)     8.6